name: CI - Tests, Coverage, Security

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: tododb
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping --silent"
          --health-interval=5s
          --health-timeout=2s
          --health-retries=20

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: maven

      - name: Wait for MySQL to be ready
        run: |
          for i in {1..30}; do
            mysql -h 127.0.0.1 -u root -proot -e "SELECT 1" && break || sleep 2
          done


      - name: Clean project
        run: mvn clean
        working-directory: TodoBackend/TodoApp

      - name: Run Maven build & tests
        run: mvn clean install -B
        working-directory: TodoBackend/TodoApp

      - name: Generate Surefire HTML report
        run: mvn surefire-report:report
        working-directory: TodoBackend/TodoApp

      - name: Upload test reports
        uses: actions/upload-artifact@v4
        with:
          name: test-report
          path: |
            TodoBackend/TodoApp/target/site/surefire-report.html
            TodoBackend/TodoApp/target/surefire-reports/**

      - name: Upload JaCoCo Coverage Report
        uses: actions/upload-artifact@v4
        with:
          name: jacoco-report
          path: TodoBackend/TodoApp/target/site/jacoco/

  security-scan:
    runs-on: ubuntu-latest
    needs: build-and-test

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Start Spring Boot (background)
        working-directory: TodoBackend/TodoApp
        run: |
          nohup mvn spring-boot:run & 
          sleep 55

      - name: Run OWASP ZAP Baseline Scan
        uses: zaproxy/action-baseline@v0.7.0
        with:
          target: 'http://localhost:8089'
          docker_name: 'ghcr.io/zaproxy/zaproxy:stable'
          cmd_options: '-a'

      - name: Upload ZAP Report
        uses: actions/upload-artifact@v4
        with:
          name: zap-security-report
          path: ./zap-report.html
